/* this is a component that is used to create a shiny text effect */

.shiny-text {
    color: #d8d8d8a4; 
    background: linear-gradient(
      120deg,
      rgba(170, 170, 170, 0) 40%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(182, 181, 181, 0) 60%
    );
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    animation: shine 5s linear infinite;
  }
  
  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }
  
  .shiny-text.disabled {
    animation: none;
  }
  